*{
    /* margin: 0px;
    padding: 0px; */
    /* outline: 1px solid red; */
    /* color: white; */
}

@media (min-width: 768px) {
    .samplepics {
      column-count: 2;
    }
  }
  
  @media (min-width: 576px) {
    .samplepics {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  }

  .card img{
      width: 100%;
  }

  .card-columns{
      padding: 50px 100px 100px 100px;
  }

  /* .companyhighlights h1, p{
    display: block;
  } */
  

/* .video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
} */

.bgimage{
  position: absolute;
  background-image: url('/assets/images/parkinglot.jpg');
  /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); */
  /* filter: brightness(50%); */
  /* background-image: url(./images/cake_chocolate.jpg); */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-size: center;
  object-fit: cover;
  outline: 4px chocolate solid;
  /* outline: 4px cornflowerblue solid; */
  z-index: -10;
}

.bgoverlay{
  position: absolute;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  opacity: 0.3;
  height: 100vh;
  width: 100%;
  /* background-size: cover;
  background-size: center;
  object-fit: cover; */
  /* outline: 4px cornflowerblue solid; */
  z-index: -5;
}

nav{
  /* position: fixed; */
  height: 15vh;
}


.Hero-Section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.Hero-Caption{
  /* display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; */
  color: white;
  text-align: center;
  margin-bottom: 100px;
  /* flex-direction: column; */
  
  /* width: 500px; */
}

.Hero-Caption .title{
  font-weight: 300;
}
.Hero-Caption .subtitle{
  letter-spacing: 6px;
}

.Hero-Caption a{
  margin-top: 20px;
}

.companyhighlights{
  /* display: flex; */

}

.companycards{
  /* flex-flow: nowrap; */
  /* flex-direction: row;
  flex-wrap: nowrap;
  width: 200px; */
}

.card-body{
  text-align: center;
}

.card-title{
  letter-spacing: 6px;
}

.faIcons{
  /* color: #0080ff; */
  color: rgba(0, 143, 219, 0.8);
  text-align: center;
  margin: 0px;
  padding: 0px;
  /* height: 75%; */

}

.companycards .card-body{
  padding: 0px;
}

.TitleSection{
  margin-top: 40px;
}

.ourmission{
  height: 250px;
  margin-top: 20px;
}

.navbar-brand{
  padding: 10px;
  letter-spacing: 4px;
  /* margin: 0px; */
}

nav{
  font-size: 20px;
}

.nav-item{
  margin-right: 20px;
}

.navbarbackground{
  height: 15vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 1);
  z-index: 1020;
}

#pixel-to-watch {
  position: absolute;
  width: 1px;
  height: 1px;
  /* top: 100px; */
  left: 0;
  }

  .minimize-nav{
    height: 7vh;
  }

.samplepics .card img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-timing-function: ease-in;
  transition-duration: 2s;
}
.samplepics .card h4{
  transition-timing-function: ease-in;
  transition-duration: 2s;
}

.samplepics .card h4{
  /* display: none; */
  visibility: hidden;
  filter: blur(8px);
  /* width: 100%; */
  /* height: 50px; */
}

.samplepics .card:hover h4{
  visibility: visible;
}

.samplepics .card:hover img{
  filter: blur(8px);
}
.samplepics .card:hover h4{
  filter: blur(0px);
}

.samplepics .card i{
  /* display: none; */
  visibility: hidden;
  filter: blur(8px);
  /* width: 100%; */
  /* height: 50px; */
}

.samplepics .card:hover i{
visibility: visible;
}

.samplepics .card-img-overlay{
  /* flex: wrap; */
}